{% extends 'base.html' %}

{% block title %}Stock Report - Index{% endblock %}
{% block header %}<h1>Edit Item</h1>{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>
    
    <main>
        <a href="{% url 'item_list' %}" class="btn btn-secondary">Back to Home</a>
        <br>
        <form method="POST" class="styled-form" action="/Update/{{Item.id}}">
            {% csrf_token %}
            <br>
            <table border="1" class="styled-table table">

                <!-- Add a new row for specifying the units left -->
                <tr>
                    <th>Units Left</th>
                    <td>
                        <input type="number" name="amount" class="form-control" placeholder="Enter units left">
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" class="styled-submit btn btn-primary">
                        {% if messages %}
                            {% for mess in messages %}
                                <b>{{mess}}</b>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>

    </main>
</body>
</html>
{% endblock %}
